################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MonitoringAndTelemetry/.vs/TelemetryExtensionExample
/MonitoringAndTelemetry/.vs/MonitoringAndTelemetryExampleUsage/v17
/MonitoringAndTelemetry/.vs/MonitoringAndTelemetryExampleUsage/FileContentIndex
/.gitignore
/.gitignore
